<%= form_with(model: point_of_sale, local: true) do |form| %>
  <% if point_of_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point_of_sale.errors.count, "error") %> prohibited this point_of_sale from being saved:</h2>

      <ul>
      <% point_of_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.date_select :updated_at %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
