<p id="notice"><%= notice %></p>

<h1>Point Of Sales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Updated at</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @point_of_sales.each do |point_of_sale| %>
      <tr>
        <td><%= point_of_sale.name %></td>
        <td><%= point_of_sale.city %></td>
        <td><%= point_of_sale.updated_at %></td>
        <td><%= point_of_sale.client %></td>
        <td><%= link_to 'Show', point_of_sale %></td>
        <td><%= link_to 'Edit', edit_point_of_sale_path(point_of_sale) %></td>
        <td><%= link_to 'Destroy', point_of_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point Of Sale', new_point_of_sale_path %>
