<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @point_of_sale.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @point_of_sale.city %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @point_of_sale.updated_at %>
</p>

<p>
  <strong>Client:</strong>
  <%= @point_of_sale.client %>
</p>

<%= link_to 'Edit', edit_point_of_sale_path(@point_of_sale) %> |
<%= link_to 'Back', point_of_sales_path %>
